main {
  align-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  hyphens: auto;
  line-height: 0;
  margin: 0 auto;
  max-width: 90%;
  padding: 72px 0;
  text-align: center;
}
.background {
  background-color: #252525;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 7.5vw;
  color: #FFFFFF;
}
h2 {
  font-size: 2.5vw;
  color: #FFFFFF;
  font-weight: lighter;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 0vw solid white;
  background-color: #252525;
  color: #666666;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #919191;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}

body {
  background-color: #252525;
}