@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 0, 0, 0;
  --secondary-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 220, 240, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 255, 255, 255;
    --secondary-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  border-color: rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
